.button_wrapper {
    margin: 50px auto;
    display: flex;
    gap: 10px;
    align-items: center;
}

.button_wrapper.dark {
    color: white;
    font-weight: bold;
}

.button {
    padding: 7px;
    border: 1px solid black;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
}

.button.dark {
    color: white;
    font-weight: bold;
    background: rgba(96, 96, 96, 0.498);
    border: 1px solid rgb(179, 179, 179);
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.button_page {
    font-size: 18px;
}
